<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impulsa tu negocio con IA</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="Resources/logo.png" alt="AletheAI Logo">
            </div>
            <button id="menu-toggle" aria-label="Toggle menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
            <nav id="main-nav">
                <ul>
                    <li><a href="#about">Acerca</a></li>
                    <li><a href="#products">Productos</a></li>
                    <li><a href="#solutions">Soluciones</a></li>
                    <li><a href="#contact" class="cta-button">Contáctanos</a></li>
                    <li>
                        <select id="languageSelect" aria-label="Select language">
                            <option value="es">ES</option>
                            <option value="en">EN</option>
                        </select>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h4>Acerca de nosotros</h4>
                <p>Ofrecemos soluciones inteligentes para PYMES.</p>
            </div>
            <div class="footer-section">
                <h4>Contacto</h4>
                <p>Email: aletheaisolutions@gmail.com</p>
                <p>Teléfono: +52 1 22 12 82 00 55</p>
            </div>
            <div class="footer-section">
                <h4>Síguenos</h4>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 AletheAI Solutions. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>

<script src="indexscripts.js"></script>
</body>
</html>
